.about-container {
  background-color: #00bfa5;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center;
}

.intro-about-text {
  color: white !important;
  width: 80%;
  font-size: calc(0.6em + 2.3vw);
  text-align: center;
}

.about-text {
  color: white !important;
  width: 80%;
  text-align: left;
  font-size: calc(0.4em + 1.5vw);
  line-height: 1.8em;
}

.about-title {
  color: white;
  font-size: calc(1em + 3vw);
}
